#weatherDiv {
  width: 100px;
  height: 60px;
  /*overflow: hidden;*/
  background-color: rgba(255,255,255,1);
  border-radius: 10px;
  margin-top: -240px;
  margin-left: 70px;
  float: left;
  padding: 20px;
  opacity: .8;
}
#weatherDiv:hover{
  opacity: .9;
}

#temp {
  font-family: helvetica;
  font-weight: bold;
  display: inline;
  text-align: center;
  padding: 2px;
}

#weatherIMG {
  display: inline;
  font-size: 60px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  padding-top: 15px;
  text-align: center;
  color: black;
}
